.location-list {
  background-color: lightgray;
  font-size: 2em;
  z-index: 100;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  color: darkslateblue;
  text-shadow: 0.05em 0.05em white;
}
