.location-list {
  background-color: lightgray;
  font-size: 2em;
  z-index: 100;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 40%;
  opacity: 0.7;
  color: darkslateblue;
}

.list-visible {
  left: 0px;
}

.list-invisible {
  left: -400px;
}
